<div
  class="md:flex-row flex flex-col w-full px-6 relative space-y-4 space-x-0 md:space-x-4 md:space-y-0"
>
  <div
    class="flex w-full space-x-3 bg-[#F7F7F7] relative text-black p-[30px] rounded-xl transform transition-all duration-700 ease-in-out scale-100"
  >
    <div class="px-5">
      <i class="text-2xl fa-solid fa-phone-volume"></i>
    </div>
    <div class="flex flex-col">
      <h2 class="text-lg font-bold mb-4">
        Horarios de atención del Servicio De Traslado Samu Base Ilo
      </h2>
      <p class="mb-4 text-sm">
        El horario del Servicio De Traslado Samu Base Ilo es de 07:30 – 07:30,
        con una atención personal a todos los pacientes.
      </p>
    </div>
  </div>

  <div
    class="flex w-full space-x-3 bg-[#F7F7F7] text-black p-[30px] rounded-xl transform transition-all duration-700 ease-in-out scale-100"
  >
    <div class="px-5">
      <i class="text-2xl fa-solid fa-phone-volume"></i>
    </div>
    <div class="flex flex-col">
      <h2 class="text-lg font-bold mb-4">
        Dirección del Servicio De Traslado Samu Base Ilo
      </h2>
      <p class="mb-4 text-sm">
        Samu Base Ilo se localiza en la provincia de Ilo, departamento Moquegua,
        cuya dirección es Otros Jose Carlos Mariategui Manzana F Lote 9 Distrito
        Ilo, Departamento Moquegua.
      </p>
    </div>
  </div>

  <div
    class="flex w-full space-x-3 bg-[#F7F7F7] text-black p-[30px] rounded-xl transform transition-all duration-700 ease-in-out scale-100"
  >
    <div class="px-5">
      <i class="text-2xl fa-solid fa-phone-volume"></i>
    </div>
    <div class="flex flex-col">
      <h2 class="text-lg font-bold mb-4">
        Teléfono Servicio De Traslado Samu Base Ilo
      </h2>
      <p class="mb-4 text-sm">
        El teléfono del Servicio De Traslado Samu Base Ilo es el 989364359 para
        poder responder en manera rápida y personal a las necesidades de
        tratamiento.
      </p>
    </div>
  </div>
</div>
