<div
  class="md:flex-row flex flex-col w-full px-6 relative space-y-4 space-x-0 md:space-x-4 md:space-y-0"
>
  <div
    class="flex w-full space-x-3 bg-red-500 relative text-white p-[30px] rounded-xl transform transition-all duration-700 ease-in-out hover:scale-100 scale-95"
  >
    <div class="px-5">
      <i class="text-2xl fa-solid fa-phone-volume"></i>
    </div>
    <div class="flex flex-col">
      <h2 class="text-lg font-bold mb-4">
        Horarios de atención del Servicio De Traslado Samu Base Ilo
      </h2>
      <p class="mb-4 text-base leading-7">
        El horario del Servicio De Traslado Samu Base Ilo es de 07:30 – 07:30,
        con una atención personal a todos los pacientes.
      </p>
      <div class="flex items-center">
        <div
          class="bg-white rounded-full h-[40px] w-[40px] flex items-center justify-center"
        >
          <i class="text-red-500 text-lg fa-solid fa-phone-volume"></i>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-full space-x-3 bg-blue-500 text-white p-[30px] rounded-xl transform transition-all duration-700 ease-in-out hover:scale-100 scale-95"
  >
    <div class="px-5">
      <i class="text-2xl fa-solid fa-phone-volume"></i>
    </div>
    <div class="flex flex-col">
      <h2 class="text-lg font-bold mb-4">
        Dirección del Servicio De Traslado Samu Base Ilo
      </h2>
      <p class="mb-4 text-base leading-7">
        Samu Base Ilo se localiza en la provincia de Ilo, departamento Moquegua,
        cuya dirección es Otros Jose Carlos Mariategui Manzana F Lote 9 Distrito
        Ilo, Departamento Moquegua.
      </p>
      <div class="flex items-center">
        <div
          class="bg-white rounded-full h-[40px] w-[40px] flex items-center justify-center"
        >
          <i class="text-blue-500 text-lg fa-solid fa-phone-volume"></i>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex w-full space-x-3 bg-gray-800 text-white p-[30px] rounded-xl transform transition-all duration-700 ease-in-out hover:scale-100 scale-95"
  >
    <div class="px-5">
      <i class="text-2xl fa-solid fa-phone-volume"></i>
    </div>
    <div class="flex flex-col">
      <h2 class="text-lg font-bold mb-4">
        Teléfono Servicio De Traslado Samu Base Ilo
      </h2>
      <p class="mb-4 text-base leading-7">
        El teléfono del Servicio De Traslado Samu Base Ilo es el 989364359 para
        poder responder en manera rápida y personal a las necesidades de
        tratamiento.
      </p>
      <div class="flex items-center">
        <div
          class="bg-white rounded-full h-[40px] w-[40px] flex items-center justify-center"
        >
          <i class="text-gray-800 text-lg fa-solid fa-phone-volume"></i>
        </div>
      </div>
    </div>
  </div>
</div>
