<ng-template #icon>
  <img
    src="https://res.cloudinary.com/ddksrkond/image/upload/v1687316127/samu/download-removebg-preview_iidvap.png"
    class="h-3"
  />
</ng-template>

<!-- component -->
<div class="relative py-16">
  <div class="relative container m-auto px-6 text-gray-500 md:px-12 xl:px-40">
    <div class="m-auto md:w-8/12 lg:w-6/12 xl:w-6/12">
      <div class="rounded-xl bg-white shadow-xl">
        <div class="p-6 sm:p-16">
          <div class="space-y-4">
            <img
              src="https://res.cloudinary.com/ddksrkond/image/upload/v1687316127/samu/download-removebg-preview_iidvap.png"
              loading="lazy"
              class="w-20"
              alt="tailus logo"
            />
            <h2 class="mb-8 text-2xl text-cyan-900 font-bold">
              Registrar Cuenta
            </h2>

            <form class="b-form" [formGroup]="testForm">
              <p>
                <tui-input
                  tuiTextfield
                  class="tui-space_top-2"
                  tuiTextfieldSize="m"
                  formControlName="email"
                >
                  Type an email
                  <input tuiTextfield type="email" />
                </tui-input>
              </p>
              <p>
                <tui-input
                  tuiTextfield
                  class="tui-space_top-2"
                  tuiTextfieldSize="m"
                  formControlName="firstname"
                >
                  Type an firstname
                  <input tuiTextfield type="text" />
                </tui-input>
              </p>
              <p>
                <tui-input
                  class="tui-space_top-2"
                  tuiTextfieldSize="m"
                  tuiTextfield
                  formControlName="lastname"
                  [tuiTextfieldLabelOutside]="true"
                >
                  Type an lastname
                  <input tuiTextfield type="text" />
                </tui-input>
              </p>
              <p>
                <tui-input
                  class="tui-space_top-2"
                  tuiTextfieldSize="m"
                  tuiTextfield
                  formControlName="username"
                >
                  Type an username
                  <input tuiTextfield type="text" />
                </tui-input>
              </p>
              <tui-input-password
                formControlName="password"
                tuiTextfieldSize="m"
                class="tui-space_top-2"
              >
                Type a password
                <input tuiTextfield placeholder="****" />
              </tui-input-password>
              <tui-input-password
                formControlName="re_password"
                tuiTextfieldSize="m"
                class="tui-space_top-2"
              >
                Type a re-password
                <input tuiTextfield placeholder="****" />
              </tui-input-password>
              <div class="w-full">
                <button
                  class="w-full mt-3 mb-3"
                  [showLoader]="isLoadingResgister$ | async"
                  tuiButton
                  type="button"
                  appearance="outline"
                  size="m"
                  (click)="onRegister()"
                >
                  <div class="flex items-center">
                    <span> Registrar</span>
                  </div>
                </button>
              </div>
            </form>
          </div>

          <div class="mt-8 space-y-4 text-gray-600 text-center sm:-mb-8">
            <p class="text-xs">
              By proceeding, you agree to our
              <a href="#" class="underline">Terms of Use</a> and confirm you
              have read our
              <a href="#" class="underline">Privacy and Cookie Statement</a>.
            </p>
            <p class="text-xs">
              This site is protected by reCAPTCHA and the
              <a href="#" class="underline">Google Privacy Policy</a> and
              <a href="#" class="underline">Terms of Service</a> apply.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
