.viewport {
  height: 60vh;
}
table {
  width: 100%;
th{
  color: rgb(0, 0, 0);
}
  tr {
      height: 45px;
      
  }

  td {
      &:first-child {
          width: 10rem;
          font-weight: bold;
      }

      &:last-child {
          width: 3rem;
      }
  }
}