<div class="content-header">
  <div class="content-header-intro">
    <h2>{{ subtitlehead }}</h2>

    <p>
      {{ descriptionhead }}
    </p>
  </div>
  <div class="horizontal-tabs">
    <a
      *ngFor="let item of navigationitems"
      [routerLink]="item.link"
      routerLinkActive="active"
    >
      {{ item.title }}
    </a>
  </div>
  <div class="content-header-actions">
    <a href="#" class="button">
      <i class="ph-faders-bold"></i>
      <span>Filters</span>
    </a>
  </div>
</div>
