<div class="main-header">
  <h1>Perfil de usuario</h1>
</div>

<div class="content-header">
  <div class="content-header-intro">
    <h2>Adminitrar tu perfil de usuario</h2>

    <p>
      En esta sección puedes gestionar la información de tu perfil de usuario,
      incluyendo detalles personales, preferencias y configuraciones de cuenta.
    </p>
  </div>
  <div class="horizontal-tabs">
    <a routerLink="/home/profile/informacion" routerLinkActive="active"
      >Informacion
    </a>
    <a routerLink="/home/profile/edit-profile" routerLinkActive="active"
      >Editar Perfil</a
    >
    <a routerLink="/home/profile/account" routerLinkActive="active">Cuenta</a>
    <a routerLink="/home/profile/security" routerLinkActive="active"
      >Seguridad</a
    >
    <a routerLink="/home/profile/history" routerLinkActive="active"
      >Historial de actividades</a
    >
    <a routerLink="/home/profile/password" routerLinkActive="active"
      >Cambiar contraseña</a
    >
  </div>
  <div class="content-header-actions">
    <a href="#" class="button">
      <i class="ph-faders-bold"></i>
      <span>Filters</span>
    </a>
  </div>
</div>
