<main class="main">
  <div class="responsive-wrapper">
    <div class="content-header">
      <div class="content-header-intro">
        <h2>Gestion de registros</h2>
        <p>Aqui se muestran todos los registros de cada archivo CSV.</p>
      </div>
    </div>
    <div class="content">
      <div class="content-panel">
        <div class="vertical-tabs">
          <a
            href="/home#"
            (click)="setActiveTab('Ver Todos')"
            [class.active]="activeTabId === 'Ver Todos'"
            >Ver Todos</a
          >
          <a
            href="/home#"
            (click)="setActiveTab('Registros independientes')"
            [class.active]="activeTabId === 'Registros independientes'"
            >Registros independientes</a
          >
          <a
            href="/home#"
            (click)="setActiveTab('Registros dependientes')"
            [class.active]="activeTabId === 'Registros dependientes'"
            >Registros dependientes</a
          >
          <a
            href="/home#"
            (click)="setActiveTab('Datos CNV')"
            [class.active]="activeTabId === 'Datos CNV'"
            >Datos CNV</a
          >
          <a
            href="/home#"
            (click)="setActiveTab('Diagrama')"
            [class.active]="activeTabId === 'Diagrama'"
            >Diagrama</a
          >
        </div>
      </div>
      <div
        class="content-main"
        id="Ver Todos"
        [hidden]="activeTabId === 'Ver Todos'"
      >
        <form [formGroup]="testForm">
          <div class="card-grid">
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Ubigeo Inei Reniec</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue1"
                    size="l"
                    class="custom-toggle"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Collaboration between designers and developers.</p>
              </div>
              <div class="card-footer">
                <a routerLink="/home/registro">Ver Datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Establecimiento</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue2"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Link pull requests and automate workflows.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Cie Cpms</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue3"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Embed file previews in projects.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Otra Condicion</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue4"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Build custom automations and integrations with apps.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Etnia</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue5"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Embed notion pages and notes in projects.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Slack</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue6"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Send notifications to channels and create projects.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Colegio</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue7"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Link and automate Zendesk tickets.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
          </div>
        </form>
      </div>
      <div
        class="content-main"
        id="Registros independientes"
        [hidden]="activeTabId === 'Registros independientes'"
      >
        <form [formGroup]="testForm">
          <div class="card-grid">
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Ubigeo Inei Reniec</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue1"
                    size="l"
                    class="custom-toggle"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Collaboration between designers and developers.</p>
              </div>
              <div class="card-footer">
                <a routerLink="/home/registro">Ver Datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Establecimiento</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue2"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Link pull requests and automate workflows.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
          </div>
        </form>
      </div>
      <div
        class="content-main"
        id="Registros dependientes"
        [hidden]="activeTabId === 'Registros dependientes'"
      >
        <form [formGroup]="testForm">
          <div class="card-grid">
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Ubigeo Inei Reniec</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue1"
                    size="l"
                    class="custom-toggle"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Collaboration between designers and developers.</p>
              </div>
              <div class="card-footer">
                <a routerLink="/home/registro">Ver Datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Establecimiento</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue2"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Link pull requests and automate workflows.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
          </div>
        </form>
      </div>
      <div
        class="content-main"
        id="Datos CNV"
        [hidden]="activeTabId === 'Datos CNV'"
      >
        <form [formGroup]="testForm">
          <div class="card-grid">
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Ubigeo Inei Reniec</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue1"
                    size="l"
                    class="custom-toggle"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Collaboration between designers and developers.</p>
              </div>
              <div class="card-footer">
                <a routerLink="/home/registro">Ver Datos</a>
              </div>
            </article>
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Establecimiento</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue2"
                    size="l"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Link pull requests and automate workflows.</p>
              </div>
              <div class="card-footer">
                <a href="#">Ver datos</a>
              </div>
            </article>
          </div>
        </form>
      </div>
      <div
        class="content-main"
        id="Diagrama"
        [hidden]="activeTabId === 'Diagrama'"
      >
        <form [formGroup]="testForm">
          <div class="card-grid">
            <article class="card">
              <div class="card-header">
                <div>
                  <span
                    ><img
                      src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                  /></span>
                  <h3>Maestro His Ubigeo Inei Reniec</h3>
                </div>
                <label class="toggle">
                  <tui-toggle
                    formControlName="testValue1"
                    size="l"
                    class="custom-toggle"
                    [showIcons]="true"
                  ></tui-toggle>
                </label>
              </div>
              <div class="card-body">
                <p>Collaboration between designers and developers.</p>
              </div>
              <div class="card-footer">
                <a routerLink="/home/registro">Ver Datos</a>
              </div>
            </article>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
