<div class="w-full min-h-screen p-5">
  <div class="flex flex-col">
    <div class="flex md:flex-row flex-col w-full flex-1 md:space-x-5">
      <div
        class="md:w-[50%] bg-white flex-1 p-4 border-fine rounded-xl mb-4 flex flex-col"
      >
        <div class="flex justify-between">
          <h2
            class="text-gray-500 text-lg font-semibold pb-4 flex items-center"
          >
            <a [routerLink]="'/home'" class="h-full flex items-center">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="keyboard_return"
              ></mat-icon>
            </a>

            <span class="pl-2">
              {{ detailModelInfo?.title }}
            </span>
          </h2>
          <form [formGroup]="testForm">
            <tui-toggle
              formControlName="testValue1"
              size="l"
              class="custom-toggle"
              [showIcons]="true"
            ></tui-toggle>
          </form>
        </div>
        <div class="flex items-center space-x-12">
          <img
            src="https://cdn-icons-png.freepik.com/512/8686/8686102.png"
            class="w-[130px]"
          />
          <ol class="text-md">
            <li>
              <span class="font-bold">Nombre:</span>
              <span>{{ id }}</span>
            </li>
            <li>
              <span class="font-bold">Cantidad Registros:</span
              ><span>{{ detailModelInfo?.count }}</span>
            </li>

            <li>
              <span class="font-bold">Num Columnas:</span
              ><span>
                {{ detailModelInfo?.properties?.length || 0 }}
              </span>
            </li>
            <li>
              <span class="font-bold">Estado:</span>
              <span>
                {{ detailModelInfo?.tiene_datos ? "Procesado" : "Vacio" }}
              </span>
            </li>
          </ol>
        </div>
        <h2 class="text-gray-500 text-lg font-semibold pb-4 pt-4"></h2>
        <div class="flex flex-wrap">
          <button
            tuiButton
            type="button"
            appearance="secondary-destructive"
            class="tui-space_right-3 tui-space_bottom-3 mr-2"
            (click)="onClick()"
          >
            Vaciar
          </button>
        </div>
      </div>
      <div class="md:w-[50%] bg-white flex-1 p-4 border-fine rounded-xl mb-4">
        <h2 class="text-gray-500 text-lg font-semibold pb-4">
          Sube tu archivo
        </h2>
        <app-formuploadfile></app-formuploadfile>
      </div>
    </div>
    <div class="w-full bg-white flex-1 border-fine rounded-xl p-4">
      <h2 class="text-gray-500 text-lg font-semibold pb-4">
        Tabla de Registros
      </h2>
      <div *ngIf="hayRegistros" class="m-1">
        <app-table [columns]="columns"></app-table>
      </div>
      <div *ngIf="!hayRegistros" class="p-4 m-3">
        <tui-block-status>
          <img
            tuiSlot="top"
            alt="not found"
            src="https://taiga-ui.dev/assets/images/not-found.svg"
            class="image"
          />

          <h4>Registros Vacios</h4>

          Sube el archivo CSV para mostrarlos aqui.
        </tui-block-status>
      </div>
    </div>
  </div>
</div>
