<div class="relative z-2">
  <div class="h-[60vh] mt-3 mb-12">
    <div class="mt-20 px-10">
      <h2 class="md:text-6xl text-4xl font-bold">
        Servicio De Traslado <br />Samu Base Ilo en Ilo
        <b class="text-3xl text-red-500">•</b>
      </h2>
      <p class="mt-4 text-base w-full md:max-w-[500px]">
        llama gratuitamente al 106 desde un teléfono móvil o fijo de cualquier
        operador. Un profesional de la salud, capacitado y entrenado en
        urgencias y emergencias, te responderá de inmediato y aconsejará cómo
        proceder durante el incidente.
      </p>
      <div class="flex mt-4 space-x-4">
        <button
          class="bg-red-500 text-white font-bold flex items-center space-x-3 py-3 px-5 rounded-3xl"
        >
          <span> Sistema de Llamadas </span>
          <i class="text-white fa-solid fa-arrow-right"></i>
        </button>
        <button
          class="bg-gray-800 text-white font-bold flex items-center space-x-3 py-3 px-5 rounded-3xl"
        >
          <span> Sistema de Reportes </span>
          <i class="text-white fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
