<nav class="fixed z-10 w-full">
  <div
    class="md:flex hidden w-full bg-red-500 text-white h-[40px] px-[30px] items-center"
  >
    <a
      href="#"
      class="flex flex-col bg-white rounded-t-lg h-[44px] mt-4 py-[10px] px-[20px] text-black items-center justify-center text-center text-center min-w-fit mr-6"
    >
      <span>24/7 Emergencia</span>
      <i class="relative"></i>
    </a>
    <div class="flex w-full items-center space-x-6">
      <a href="#" class="flex items-center space-x-2">
        <i class="fa-solid fa-phone"></i>
        <span> 989 364 359</span>
      </a>
      <a href="#" class="flex items-center space-x-2">
        <i class="fa-solid fa-location-dot"></i>
        <span>Jose Carlos Mariategui Manzana F Lote 9, Ilo</span>
      </a>
      <a href="#" class="flex items-center space-x-2">
        <i class="fa-solid fa-clock"></i>
        <span>Lun - Sab: 7:00 am - 7:00 pm</span>
      </a>
    </div>
    <div class="flex items-center space-x-3">
      <div
        class="bg-white h-[23px] w-[23px] flex items-center justify-center rounded-full"
      >
        <i class="fa-solid fa-phone text-red-500"></i>
      </div>
      <div
        class="bg-white h-[23px] w-[23px] flex items-center justify-center rounded-full"
      >
        <i class="fa-brands fa-instagram text-red-500"></i>
      </div>
      <div
        class="bg-white h-[23px] w-[23px] flex items-center justify-center rounded-full"
      >
        <i class="fa-brands fa-twitter text-red-500"></i>
      </div>
    </div>
  </div>
  <div
    class="flex w-full justify-between px-[30px] py-3 shadow-sm bg-white space-x-3"
  >
    <a href="#" class="flex items-center justify-center">
      <img
        class="h-[30px] w-[80px] max-w-[80px]"
        src="https://res.cloudinary.com/ddksrkond/image/upload/v1687316127/samu/download-removebg-preview_iidvap.png"
        alt="logo_samu"
      />
    </a>
    <div class="flex md:w-full">
      <ul class="md:flex hidden items-center ml-auto space-x-6">
        <a
          href="#"
          class="active font-bold text-sm underline underline-offset-4 text-red-500"
        >
          <span>Inicio</span>
          <span></span>
        </a>
        <a href="#">
          <span>Sobre</span>
          <span></span>
        </a>
        <a href="#">
          <span>Servicios</span>
          <span></span>
        </a>
        <a href="#">
          <span>Red Salud Ilo</span>
          <span></span>
        </a>
        <a href="#">
          <span>Mas informacion</span>
          <span></span>
        </a>
      </ul>
    </div>
    <div class="flex flex-end">
      <div class="flex ml-auto space-x-3">
        <a href="#" class="">
          <button
            class="w-full py-2 px-4 text-black border-2 border-solid border-red-500 rounded-md"
          >
            Llamadas
          </button>
        </a>
        <a href="#" class="">
          <button
            class="w-full py-2 px-4 border-2 border-solid border-red-500 bg-red-500 text-white rounded-md"
          >
            Reportes
          </button>
        </a>

        <a href="#" class="">
          <button class="w-full py-2 px-3 bg-green-500 text-white rounded-full">
            <i class="fa-solid fa-phone"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>
