<tui-input-files
  class="h-[110px]"
  *ngIf="!control.value"
  accept=".csv, .CSV"
  [formControl]="control"
  (reject)="onReject($event)"
></tui-input-files>

<tui-files class="tui-space_top-1">
  <tui-file
    *ngIf="loadedFiles$ | async as file"
    [file]="file"
    [showDelete]="control.enabled"
    (removed)="removeFile()"
    class="h-[110px]"
  ></tui-file>

  <tui-file
    *ngIf="rejectedFiles$ | async as file"
    state="error"
    [file]="file"
    [showDelete]="control.enabled"
    (removed)="clearRejected()"
  ></tui-file>

  <tui-file
    class="h-[110px]"
    *ngIf="loadingFiles$ | async as file"
    state="loading"
    [file]="file"
    [showDelete]="control.enabled"
  ></tui-file>

  <div class="flex w-full space-x-6 mt-3">
    <tui-select class="w-full" [formControl]="testValue">
      Delimitador
      <input tuiTextfield placeholder="Choose your hero" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="delimitadores"
      ></tui-data-list-wrapper>
    </tui-select>
    <tui-select class="w-full" [formControl]="testValue2">
      Enconding
      <input tuiTextfield placeholder="Choose your hero" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="encondigs"
      ></tui-data-list-wrapper>
    </tui-select>
  </div>

  <div class="w-full pt-3">
    <button
      class="w-full"
      tuiButton
      type="button"
      (click)="onSubmit()"
      [disabled]="!control.value"
      [showLoader]="isLoadingUpload$ | async"
    >
      Subir
    </button>
  </div>
</tui-files>
