<h2 class="text-xl font-bold mb-4">Cambiar contraseña</h2>

<form
  class="flex flex-col w-[300px]"
  [formGroup]="passwordChangeForm"
  (ngSubmit)="onChangePassword()"
>
  <tui-input-password
    formControlName="current_password"
    tuiTextfieldSize="m"
    class="tui-space_top-2 mt-2"
  >
    Old Password
    <input tuiTextfield placeholder="Make it secure!" />
  </tui-input-password>

  <tui-input-password
    formControlName="new_password"
    tuiTextfieldSize="m"
    class="tui-space_top-2 mt-2"
  >
    Type a new password
    <input tuiTextfield placeholder="Make it secure!" />
  </tui-input-password>

  <tui-input-password
    formControlName="re_new_password"
    tuiTextfieldSize="m"
    class="tui-space_top-2 mt-2"
  >
    Repeat password
    <input tuiTextfield placeholder="Make it secure!" />
  </tui-input-password>

  <div>
    <p class="text-error-auth" *ngIf="errorCurrentPassword">
      {{ errorCurrentPassword }}
    </p>
    <p class="text-error-auth" *ngIf="errorNewPassword">
      {{ errorNewPassword }}
    </p>
    <p class="text-error-auth" *ngIf="errorReNewPassword">
      {{ errorReNewPassword }}
    </p>
  </div>
  <button
    class="w-full mt-3 mb-3"
    tuiButton
    type="submit"
    appearance="outline"
    size="m"
  >
    <div class="flex items-center">
      <span>Cambiar Contraseña </span>
    </div>
  </button>
</form>
